extends layout

block content

	div.container
		h2 Hey #{name},
		h1 Too lazy(or busy) to do something now? 
		.line 
		h3
			i 
				a.btn.btn-success.btn-large( onclick='$("#lazyform").toggle()') Log		
			i  that something below to give shit later!
		
		
		form#lazyform(name="addProc",method="post",action="/addProc").hide()
			div
				.line 
				input#name(type='text', name='name', placeholder='Name')
				.line 
				input#key(type='text', name='key', placeholder='What is it about?')
				.line 
				textarea#content(name='content', rows="5", placeholder='Any references or links or text?')
				.line
					button.btn.btn-primary(type='submit') I'm too lazy, will do this later!
		
		hr.hline_color
		
		h3
			i Your procrastinations so far...
		form
			table.table-striped
				thead
					tr: th
				tbody
					each post, i in procrastinations
						tr
							td
								blockquote
									a(href='#') #{post.key)
									p #{post.content)
									small #{post.username), #{post.loggedon)
								